.services {
    padding: 80px 0;
    background-color: var(--section-background);
}

.services__container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

.services__heading {
    text-align: center;
    color: var(--brand-primary);
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 700;
}

.services__intro {
    text-align: center;
    color: var(--warm-gray);
    font-size: 1.22rem;
    margin-bottom: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.services__cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 80vw;
    flex-wrap: wrap;
}

.services__card {
    background: white;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.services__card:hover {
    transform: translateY(-3px);
}

.services__card-icon {
    margin-bottom: 1rem;
    color: var(--brand-accent);
    width: 2rem;
    height: 2rem;
    font-weight: 600;
}

.services__card-title {
    color: var(--brand-primary);
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: 700;
    text-align: left;
}

.services__card-description {
    color: var(--warm-gray);
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 25px;
    line-height: 1.6;
    text-align: left;
}

.services__card-button {
    display: block;
    width: 100%;
    padding: 6px 30px;
    background: white;
    color: var(--brand-accent);
    text-decoration: none;
    border: 1px solid var(--brand-accent);
    border-radius: 0.8rem;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
}

.services__card-button:hover {
    background: var(--brand-accent);
    color: white;
    font-weight: 600;
}

/* Адаптивность */
@media (max-width: 1024px) {
    .services__cards {
        gap: 20px;
    }
    
    .services__card {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .services {
        padding: 60px 0;
    }
    
    .services__container {
        padding: 0 20px;
    }
    
    .services__heading {
        font-size: 2rem;
    }
    
    .services__intro {
        font-size: 1.05rem;
        margin-bottom: 40px;
    }
    
    .services__cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: none;
    }
    
    .services__card {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .services__container {
        padding: 0 15px;
    }
    
    .services__heading {
        font-size: 1.8rem;
    }
    
    .services__card {
        padding: 20px;
    }
    
    .services__card-title {
        font-size: 1.2rem;
    }
}